:root{
--very-dark-blue:hsl(233, 47%, 7%);
--dark-desaturated-blue:hsl(244, 38%, 16%);
--soft-violet:hsl(277, 64%, 61%);
--white:hsl(0, 0%, 100%);
--slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
--slightly-transparent-white : hsla(0, 0%, 100%, 0.6);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 1140px;
    width: 90%;
    margin: auto;
    background-color: var(--very-dark-blue);
    line-height: 1.3;
}

.container {
    display: grid;
    grid-template-columns: 570px 540px;
    max-width: 1110px;
    max-height: 445px;
    width: 90%;
    margin: 170px auto;
    color: #fff; 
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 100px 70px 70px;
    background-color: var(--dark-desaturated-blue);
    border-radius: 5px 0 0 5px;
}

.info h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--white);
}

.info h1 span {
    color: var(--soft-violet);
}

.info p {
    line-height: 25px;
    color: var(--slightly-transparent-white);
}

.image {
    background-image: url('./images/image-header-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

.image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5a207e;
    opacity: .5;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.item h2 {
    font-size: 20px;
    color: var(--slightly-transparent-white);
}

.item p {
    text-transform: uppercase;
    font-size: 1em;
}

@media only screen and (max-width: 700px) {

    .container {
        display: grid;
        grid-template-columns:1fr;
        margin: 85px auto;
        color: #fff; 
    }

    .info h1 {
        font-size: 30px;
    }
    .image {
        background-image: url('./images/image-header-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 250px;
        display: block;
        position: relative;
        border-radius: 5px 5px 0 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        text-align: center;
        padding: 30px;
        background-color: #1C1937;
        border-radius: 0 0 5px 5px;
        order: 1;
        min-height: 540px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 210px;
        margin: 40px 0;
    }

  }
  